= form_for @subscription, html: { class: 'ui form'} do |f|
  .field
    = f.label :name
    = f.text_field :name, autofocus: true, required: true

  .field
    = f.label :address
    = f.text_field :address, required: true
  
  .field 
    = f.label :age
    = f.number_field :age, required: true
  
  .field
    = f.label :tel
    = f.telephone_field :tel, required: true

  .field
    = f.label :email
    = f.email_field :email, required: true
  
  .field
    = f.label :song
    .file
      = f.file_field :song, required: true, direct_upload: true

  .field
    = f.submit "S'inscrire",class: 'ui button fluid'